<configuration>
	<appender name="FILE-ROOT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>filelogs/upms.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>
				filelogs/%d{yyyy-MM-dd}/ocpmpfs-%d{yyyy-MM-dd}-%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{logger_id}] [%thread] %-5level %logger{26} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{logger_id}] [%thread] %-5level %logger{26} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.allyroot">
		<level value="DEBUG" />
		<appender-ref ref="FILE-ROOT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="FILE-ROOT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>