
.header {
    background-color: #0075c7;
    height: 40px;
    padding-top:10px;
    color: #ffffff;
}

.console-wrapper {
    height: 100%;
    position: absolute;
}

#console {
    overflow-x: hidden;
    overflow-y: auto;
}

.map-wrapper {height: 100%; overflow:scroll;;font-family:"微软雅黑";}

#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}