* { padding: 0; margin: 0; }
a { text-decoration: none; border: 0;}
ul { list-style: none;}
table { border-collapse: collapse; border: none;}
td, th { border: 1px solid #000;}
.div-center { margin: auto;}
.fl { float: left;}
.fr { float: right;}
.clearfix { clear: both;}
.fontred { color: #ff6766; font-size: 12px;}
body{margin:0;font:12px/1.8 Tahoma,Geneva,'\5B8B\4F53';color:#333;background:white;font-family: 'Helvetica', 'Hiragino Sans GB', 'Microsoft Yahei', 'Arial', 'sans-serif';}
input,textarea,select{margin:0;padding:0;font-size:12px;outline:none;resize:none;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#333;
}
:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
}
::-moz-input-placeholder { /* Mozilla Firefox 19+ */
    color:#333;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#333;
}
form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,p{margin:0;padding:0;list-style:none;}
a{text-decoration:none;color:#224892;outline:none;}
a:hover{text-decoration:underline;}
a img{border:none;}
i,em{font-style:normal;}
input{ line-height: 0px;}
.fl{ float: left;}
.fr{ float: right;}
button{cursor:pointer;}
button i{display:none;}
.wrap{position:relative;z-index:0; overflow:hidden;}
.banner-show{position:absolute;top:0;left:0;z-index:0;width:100%;min-width:980px;height:100%;overflow:hidden;}
.banner-show .cell{position:absolute;top:0;left:0; background-size: 100% 100%; width:100%;overflow:hidden;background-repeat:repeat-x;background-position:center top;}
.banner-show .cell .con{position:relative;height:780px;background-repeat:no-repeat;background-position:center top;}
.banner-link{position:absolute;top:100px;left:50%;width:400px;height:400px;margin-left:-430px;}
.banner-link i{display:none;}
.container{position:relative; z-index:2;width:960px;height:150px; margin:auto; margin-top:15%;}
.storage-info{display:none;position:absolute;top:0;width:980px;height:30px;padding:20px 0;text-align:right;overflow:hidden;}
.storage-info span{position:relative;display:inline-block;height:30px;margin:0 0 0 40px;padding-left:48px;line-height:30px;zoom:1;font-size:18px;color:white;}
.storage-info i{position:absolute;top:0;left:0;width:36px;height:30px;overflow:hidden;background-image:url(../images/icon_storage.gif?v=201406241538);background-repeat:no-repeat;}
.ist-user{background-position:0 0;}
.ist-storage{background-position:-36px 0;}
.ist-file{background-position:-72px 0;}
.register-box{position:absolute;top:0;right:17%;width:292px;height:380px;border-radius:3px;}


.header{ width: 100%; height: 130px; position: absolute; top: 0; z-index: 2;}

.footer{ width: 100%; height: 47px; 
position: absolute; bottom: 13px;} 
.footcon{ width: 960px; margin: 0px auto;}
.foot1{ width: 560px;}
.sf1{ font: 14px/45px "microsoft yahei"; color: #666666;}
.sf2{font: 12px/45px "宋体"; color: #666666;}
.foot2{width: 392px; margin-left: 8px;}
.foot_ul li{ float: left; width: 98px;}
.foot_ul li a, .foot_ul li span{ display: inline-block; height: 47px; width: 36px; float: left;}
.foot_ul li span{line-height: 15px; padding-left: 5px;; padding-top: 10px; height: 37px; width: 50px;}
.a1{ background: url(../images/icon.png) 0px -97px; }
 .a2{ background: url(../images/icon.png) 39px -97px; }
.a3{ background: url(../images/icon.png) 0px -166px;}
 .a4{ background: url(../images/icon.png) 43px -166px; }
.a5{ background: url(../images/icon.png) 0px -234px;}
 .a6{ background: url(../images/icon.png) 43px -232px; }
.a7{ background: url(../images/icon.png) 0px -302px;}
 .a8{ background: url(../images/icon.png) 43px -300px; }

/*tab切换开始*/
.tab{
    width: 100%; height: 300px;
    }
#tab_ul li{
    float: left;width: 85px;height: 35px;background: url(../images/litm2.png);
    color: #fff;list-style: none;text-align: center;margin-right: 1px;line-height: 30px;cursor:pointer;
}
.tabli_left{
    border-top-left-radius:5px;
}
.tabli_right{
    background: url(../images/litm3.png);
    border-top-right-radius:5px;
}
#tab_ul li.tabin{
    width: 114px;font-weight: bold;background: url(../images/litm1.png);
    -moz-box-shadow:4px -1px 7px -1px #000; /* 老的 Firefox */
   /* box-shadow: 6px -3px 6px -5px #000;*/
   box-shadow: 4px -1px 7px -1px #000;
}
.tabli_center{ position: relative;}
.tabli_center .tabnum{
    display: inline-block; position: absolute; right:4px; top: 5px; line-height: 13px;
    height: 14px; width: 14px; border-radius: 50%; background: #ff6766; color: #fff; background: url(../images/newbg.png) no-repeat;
}
#tab_ul li.tabin .tabnum{
    right: 15px;
}

.tab_con{
    clear: both;width: 286px;height:325px;background: url(../images/alpha.png);
    background-size: cover;text-align: center;line-height: 50px; overflow:hidden; display: none;
}
.tab .content{
    display: block;
}
/*tab切换结束*/


/*登录系统内容*/
.l_username,.l_password,.l_button,.forget_pass,.l_declare,.declare_btn{
    width: 208px; height: 34px; border-radius: 5px;margin: 0px auto;
}
.l_username,.l_password{
    height: 34px; position: relative; line-height: 0px;
}
.l_username{
    margin-top: 40px; margin-bottom: 20px;
}
.l_button,.declare_btn{
    border: none; margin-top: 20px; background: url(../images/login_btn.png) no-repeat;
}
.forget_pass{
    height: 50px; border-bottom: 1px solid #ccc;
}
.forget_pass span{
    font:12px/30px "microsoft yahei";
}
.renenber_name i{ 
    line-height: 32px;display: inline-block; padding-left: 5px;}
.l_fpass{
     color: #00479a;
}
.l_declare{
    height: 50px; border-top: 1px solid #fff; border-radius: 0px; padding-top: 20px;
}
.declare_btn{
    background: url(../images/shenbao_btn.png) no-repeat; margin-top: 0px;
}
.l_inputname,.l_inputpass{
    width: 156px; height: 32px; border: 1px solid #fff; border-radius: 5px;
    padding-left: 50px; background: url(../images/litm3.png); line-height: 32px; color: #666;
}
.l_icon_name,.l_icon_pass{
    display: inline-block; width: 35px; height: 40px; position: absolute;top: 0px; left: 0px;
}
.l_icon_name{ background: url(../images/icon.png) no-repeat 5px 6px;}
.l_icon_pass{ background: url(../images/icon.png) no-repeat 10px -44px;}
.line01{ position: absolute; left: 35px; top: 17px;}
.rela_ul{ margin-left: 0px; width: 236px; padding:25px 25px;}
.rela_ul li{ border-bottom: 1px dashed #000; height: 32px; padding-left: 10px;}
.rela_ul li a{ width: 266px; text-align: left; float: left; display: inline-block; font: 14px/32px "microsoft yahei"; color: #000;
 overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

.logo_h1{ width: 808px; height: 69px;margin: 30px auto;}
.bns-01{background-image:url(../images/bg5.jpg);}


@media screen and (max-width:640px){
    .logo_h1{max-width:808px;width:100%;margin:0;}
.logo_h1 img{max-width:808px;width:100%;}
.register-box {
    position: absolute;
    top: 0;
    left:5%;
    width: 292px;
    height: 380px;
    border-radius: 3px;
}
    .logo_h1 {  
    height: 69px;
    margin: 30px auto;
}

.container {
    position: relative;
    z-index: 2;
    width: 960px;
    height: 150px;
    margin: auto;
    margin-top:100px;
}
.foot1{width:100%;}
.footcon {
    max-width:960px;
    margin: 0px auto;
    width:100%;
    text-align:center;
}
}