.white-box .ml10 { margin-left: 10px;}
.white-box .mr10 { margin-left: 10px;}
.white-box .tac { text-align: center;}
.fl { float: left;}
.fr { float: right;}
.fz12{
	font-size:12px;
}
.bc-blue {
	background-color: rgba(141, 180, 227, 0.45);
	text-align: right;
}
.bc-grey {
	background-color: rgba(90, 90, 90, 0.5);
	text-align: center;
}
.returnFa a {
	color: #666;
}
.returnFa {
	margin: 10px;
}
.white-box .myh3 {
	font-family: "Microsoft Yahei";
}
.mYear {
	display: inline-block;
	width: 80px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-left: 5px;
}
.myView {
	display: inline-block;
	font-weight: normal;
	margin-left: 10px;
	margin-bottom: 0;
	cursor: pointer;
}
.lh28 {
	line-height: 36px;
	margin-bottom: 0;
}
.myTable {
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin-top: 12px;
	white-space:nowrap;
}
.myTable td, .myTable th {
	border: 1px solid #ccc;
	padding:15px 8px;
}
.myTable thead td,.myTable thead th{
	font-weight: bold;
	font-size:14px;
}
.rownav {
	width: 160px;
	height: 100%;
	overflow-x: scroll;
}
.myBlist {
	list-style-type: none;
	padding: 0;
	margin-left: 6px;
	margin-top: 9px;
}
.myBlist li {
	text-align: left;
	line-height: 24px;
	white-space: nowrap;
}
.myBlist ul a{
	color:#666;
}
.imgSel {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: url(../images/u1000_selected.png) no-repeat left top;
	margin-right: 5px;
	cursor:pointer;
}
.imgSel.changeO {
	background-image: url(../images/u1000_selected2.png);
}
.myFlist {
	font-weight: normal;
	font-size: 12px;
	padding: 0;
	list-style-type: none;
	margin-left: 15px;
}
.myFlist li {
	line-height: 25px;
}
.myh3.insia {
	margin-left:100px;
	margin-top: 12px;
	cursor: pointer;
}
.myh3.insia i {
	font-style: normal;
}
.mySlist {
	list-style-type: none;
	margin-top: 3px;
	padding: 0;
	margin-left: 24px;
}
.mySlist li {
	font-size: 16px;
	font-weight: bold;
}
.mySlist.styleli {
	overflow: hidden;
}
.mySlist.styleli li {
	font-weight: normal;
	float: left;
	width:480px;
	font-size:14px;
}
.styleli li.longLi {
	width: 420px;
}
.loneBox {
	width: 530px;
	margin: 18px auto;
	margin-bottom: 24px;
	position: relative;
}
.bgchange {
	display: inline-block;
	width: 183px;
	height: 67px;
	line-height: 67px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: url(../images/hang2.png) no-repeat left top;
}
.bgchange.hoverx {
	background-image: url(../images/hang1.png);
}
.bgchange:hover {
	color: #fff;
}
.loneBox .lia2 {
	position: absolute;
	left: 168px;
}
.loneBox .lia3 {
	position: absolute;
	left: 336px;
}
.redcolor {
	color:#ff0000;
	margin-right:10px;
}
.mYearx {
	display: inline-block;
	padding: 3px 12px;
	/*border: 1px solid #ccc;*/
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	box-sizing:border-box;
}
.rowChange {
	/*width: 920px;*/
	margin: auto;
	

}
.fs-width{
	width:80px;
	text-align:right;
	display:inline-block;
}
.nselect{
	line-height:25px;
	padding:15px 10px;
}
.greyborder{
	border:1px solid #D9EBD2;
	margin-top:-5px;
	border-radius:5px;
}
.greybg {
	/*width: 100%;*/
	padding: 13px 20px;
	/*background-color: #F2F2F2;*/	
}

.mL95{
	margin-left:95px;
}
.text-cent{
	text-align:center;
	color:#333;
	font-weight:bold;
}

.greencolor{
	color:#151715;
}
.checkedx {
	background-color:#aacafa;
	color: #fff;
}
.nextBu {
	width: 150px;
	height: 32px;
	margin: 18px auto;

}

.smaBox {
	width: 880px;
	margin: auto;
}

.dib {
	display: inline-block;
}
.ott1 {
	margin-left: 42px;
	line-height: 28px;
	vertical-align: top;
}
.ott2 {
	width: 800px;
}
.ott3 {
	margin-left: 13px;
}
#tjtjx span{
	margin-right: 10px;
}

/**/
.blacolor{
	color:#666;

}
.grey-minw{
	width:75%;
	margin-top:-5px;
}
.hangsz{
	min-height:180px;
	height:auto;
}
.hg-sz{
	line-height:35px;
}
.ml5{
	margin-left:5px;
}