<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>用户列表</title>
</head>
<body>
	<div class="row" ng-controller="UserPageCtrl">
		<div class="white-box">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<div class="row"><h3>用户列表</h3></div>
				<div>
					<p class="list_p">用户列表功能介绍</p>
				</div>

				<div class="row white-box serch_area ">
					<div class="row">
						<div class="col-sm-2">
							<input type="text" ng-model="queryObj.name" class="form-control"
								placeholder="请输入用户名或姓名" />
						</div>
						<div class="col-sm-2">
							<button type="button" ng-click="queryUsers(0)"
								class="btn btn-success m-r-md">查询</button>
							<button type="button" ng-click="clearCookie()"
								class="btn btn-default">重置</button>
						</div>
					</div>
					<div class="row serch_area_row_margin"></div>

				</div>
				<div class="row">

					<div class="col-sm-12 list_button_area_text_align_r">
						<button type="button" ng-click="goAddUser()" class="btn btn-success">添加用户</button>
					</div>
				</div>

				<div class="row between_list_button_list_area_margin"></div>
				<div class="row">
					<div class="">
						<div class="table-responsive">
							<table class="table table-striped table-bordered th_center tr40">
								<thead>
									<tr align="center">
										<th class="th_center" ng-repeat="x in itemNames ">{{x.name}}</th>
									</tr>
								</thead>
								<tr ng-if="isShowBottom(userList);">
									<td colspan="7">搜索无结果</td>
								</tr>
								<tbody>
									<!--  <tr align="center" ng-repeat="result in datas" repeat-done="repeatDone();"> -->
									<tr align="center" ng-repeat="result in userList"
										repeat-done="repeatDone();">
										<td>{{result.id}}</td>
										<td>{{result.username}}（{{result.showname}}）</td>
										<td>{{result.groupName}}</td>
										<td>{{result.townName}}</td>
										<td>{{result.schoolName}}</td>
										<td class="text-nowrap"><a data-toggle="tooltip"
											data-original-title="编辑" ng-click="editUser(result.id);"><i
												class="fa fa-pencil text-inverse action_icon_font_size m-r-10"
												ng-if="result.isDefault != 1"></i></a> <a data-toggle="tooltip"
											data-original-title="删除" ng-click="deleteUser(result.id,result.username);"><i
												class="fa fa-close text-danger action_icon_font_size m-r-10"
												ng-if="result.isDefault != 1"></i></a> </td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
				</div>
				<div ng-include="'/page.html'" onload="queryForPage=queryUsers;"></div>

			</div>
		</div>
	</div>


</body>
</html>
