<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>百度富文本编辑框使用实例</title>
</head>
<body>
<div ng-controller="BaiduRichTextEditorCtrl"  rend-after="initBaiduEditor();">
	<div >
		<h1>{{pageObj.text}}</h1>
		<h2>{{pageObj.editorContent}}</h2>
		<br/>
	</div>	
	<div>
		  <a href="#"  ng-click="getEditorContent();" ><span style="font-size: 2em; color: red;">获取富文本编辑框的内容</span></a>
		  <a href="#"  ng-click="setEditorContent();"><span style="font-size: 2em; color: blue;">为文本框初始化内容</span></a>
		  <br/><br/>
	</div>
	<div class="form-group">
						<div class="col-sm-6">
						   <textarea id="addInformContent"  name="addInformContent" >
									
					       </textarea>
						</div>
	</div>
</div>
</body>
</html>