<!DOCTYPE html>
<html lang="zh_CN" ng-app="app">
<head>
<meta charset="UTF-8"/>
<title>北京市初中实践活动管理服务平台</title>
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/metisMenu.min.css" rel="stylesheet" />
<link href="css/custom-select.css" rel="stylesheet" type="text/css" />
<link href="libs/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" type="text/css" href="/libs/assets/font-awesome/css/font-awesome.css"  /> -->
<!-- <link href="/css/main.css" rel="stylesheet" type="text/css" /> -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/mypage.css"/>
<link href="css/eapms.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="libs/sweetalert/sweetalert.css"  />

<script src="js/jquery/1.11.1/jquery.min.js"></script>
<script src="libs/sweetalert/sweetalert-dev.min.js"></script>
<script type="text/javascript" src="js/angularjs/angular-1.4.5.min.js"></script>
<script type="text/javascript" src="js/angularjs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/angularjs/ocLazyLoad.min.js"></script>
<script type="text/javascript" src="js/libs/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="js/service/UserService.js"></script>
<script type="text/javascript" src="js/service/common/CommonService.js"></script><!-- 公共Service -->
<script type="text/javascript" src="js/service/schoolYear/SchoolYearService.js"></script><!-- 学期公共Service -->
<script type="text/javascript" src="js/service/parameterService/ParameterService.js"></script><!-- 参数公共Service -->
<!-- <script type="text/javascript" src="/js/service/userlogsService/userlogsService.js"></script> -->

<script src="js/libs/bootstrap-master/multiMap/multiMap.js" type="text/javascript"></script>
<script src="js/libs/bootstrap-master/stackedMap/stackedMap.js" type="text/javascript"></script>
<script src="js/libs/bootstrap-master/position/position.js" type="text/javascript"></script>
<script src="js/libs/bootstrap-master/modal/modal.js" type="text/javascript"></script>

<script src="js/pub.js" type="text/javascript"></script>

<script src="ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="ueditor/ueditor.all.js" type="text/javascript"></script>
<script src="ueditor/lang/zh-cn/zh-cn.js" type="text/javascript"></script>

<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="AppCtrl">
<div ui-view="" ></div>
</body>
</html>