<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>活动管理</title>
</head>
<body>
	<div class="row" rend-after="load();">
		<div class="panel full-panel-default" >
			<div class="panel-heading">
				添加任务图片
				<div class="pull-right">
					<a ng-click="close();" style="color: black;">关闭</a>
				</div>
			</div>
			<div class="form-group">
									<label class="col-md-2 control-label">原任务单:</label>
									<div class="col-md-4 p-t-7">
										<img alt="" ng-src="/{{photoObj.photourl}}" ng-click="showPhoto();"
											style="height: 30px; width: 40px;" />
									</div>
								</div>
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<div class="col-md-12">
						<form id="defaultForm" method="post" class="form-horizontal"
							data-toggle="validator" name="signup_form" action="">
							<div class="form-group">
								<label class="col-md-2 control-label">上传任务单</label>
								<div class="col-md-10">
									<div>
										<div class="" >
											<!-- row -->
											<div class="row">
												<div class="col-md-6">
													<div class="">
														<label for="input-file-now"></label> 
														<input type="file" id="input-file-now" class="dropify" nv-file-select=""
															uploader="uploader" rend-after="loadUpload();"/>
													</div>
												</div>
												<div class="col-md-6 m-t-10" style="height: 37px">
													<p style="color: grey; line-height: 37px">
														<span style="color: red">*</span>任务单文件仅支持jpg,png格式,大小请不要超过2M 
													</p>
												</div>
											</div>
										</div>
										<div>
										</div>
									</div>
								</div>
							</div>
							
						</form>
					</div>

				</div>
				<div class="panel-footer">&nbsp;<div class="pull-right">
					<a ng-click="submitSave();" herf="javascript:void(0);" style="color: black; cursor: pointer">提交</a>
				</div></div>
			</div>
		</div>
	</div>

</body>
</html>
